.filter {

    background-color: rgba(255, 255, 255, 1);
    width: 270px;
    padding: 30px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(84, 95, 125, 0.14);

    input {
        padding: 12px 20px;
        width: 100%;
        border-radius: 8px;
        outline: none;
        border: 1px solid rgba(33, 63, 125, 0.1);
    }

    p {
        margin-bottom: 6px;
    }
}